.body {
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    display: flex;
    font-family: sans-serif;
}
.contentWrap {
    width: 100%;
    margin: 1rem auto 0 auto;
}
.contentWrap {
    width: 100%;
    font-size: 0.8rem;
    background-color: #fcfaf7;
}
.setTime {
    color: green;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}
.totalCovid {
    margin: 1rem auto 1rem auto;
    display: flex;
}
.totalOutbreak {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    border: 1px #c4c4c4 solid;
    border-width: 0px 0px 0px 1px;
}
.newCovid {
    margin: 1rem auto 1rem auto;
}
.nowOutbreak {
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}
.boxName {
    font-weight: bold;
}
.contentLine {
    margin: 0 auto;
    height: 1px;
    width: 99%;
    border: 1px #c4c4c4 solid;
    border-width: 1px 0px 0px 0px;
}
.countryCovid {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0rem auto 1rem auto;
    padding: 0.5rem;
    text-align: center;
}
.covidCountries, .covidCase{
    padding: 0.7rem 0.3rem;
    width: 20%;
    border: 1px #c4c4c4 solid;
    border-width: 1px 0px;
}
.covidCase a{
    align-items: center;
    /* transform: translateY(50%); */
}
.covidCountries {
    background-color: blanchedalmond;
}
@media(max-width: 768px) {
    .contentWrap {
        width: 100%;
        font-size: 0.8rem;
        background-color: #fcfaf7;
    }
    .setTime {
        color: green;
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
    }
    .totalCovid {
        margin: 1rem auto 1rem auto;
        display: flex;
    }
    .totalOutbreak {
        margin: 0 auto;
        padding: 1rem;
        text-align: center;
        border: 1px #c4c4c4 solid;
        border-width: 0px 0px 0px 1px;
    }
    .newCovid {
        margin: 1rem auto 1rem auto;
    }
    .nowOutbreak {
        margin: 0 auto;
        padding: 0.5rem;
        text-align: center;
    }
    .boxName {
        font-weight: bold;
    }
    .contentLine {
        margin: 0 auto;
        height: 1px;
        width: 99%;
        border: 1px #c4c4c4 solid;
        border-width: 1px 0px 0px 0px;
    }
    .countryCovid {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0rem auto 1rem auto;
        padding: 0.5rem;
        text-align: center;
    }
    .covidCountries, .covidCase{
        padding: 0.7rem 0.3rem;
        width: 20%;
        border: 1px #c4c4c4 solid;
        border-width: 1px 0px;
    }
    .covidCase a{
        align-items: center;
        /* transform: translateY(50%); */
    }
    .covidCountries {
        background-color: blanchedalmond;
    }
}